@tailwind base;
@tailwind components;
@tailwind utilities;
.logo {
display: flex;
margin: 0 auto;
  width: 40vh;
  height: 100%;
}
body{
  background-image: url("images/556449.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:rgb(247, 242, 242);
  font-size: 1.1em;

  

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


[data-action] {
  cursor: pointer;
}
[data-field] {
  cursor: pointer;
}
.filter {
  background-color: rgba(98, 50, 104, 0.4);
border-radius: 10%;
  /* border: rgb(194, 56, 56); */
  padding: 1.6em;
  font-size: medium;
  color: rgb(255, 254, 253);
}
.filter:hover{
  background-color: rgba(100, 26, 87, 0.7);
border-radius: 10%;
color: rgb(245, 235, 235);
}
main table {
  width: 90vw;
  /* height: 100vh;  */
  justify-items: center;
}
#myInput {
 
  width: 93vw; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  /* border: 1px solid rgb(240, 237, 237); Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#mylist tr.header,
#list tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #444242;
  color: rgb(255, 255, 255);
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "⭣";
}
#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "⭡";
}
td[data-field="prefect"]::after {
  content: "⭐";
  /* zoom: 1.5; */
}
td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
}
#sorting th.sortby {
  text-decoration: underline;
}
#list {
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.7);
}

#list tbody tr td {
  padding: 1.1em;
  text-align: center;
}

#list tbody tr:nth-child(odd) td {
  /* background-color: rgb(175, 159, 125); */
  border-bottom: 2px solid rgba(100, 99, 99, 0.4);
  box-shadow: 0 0 0 0;
}

#list tbody tr:nth-child(even) td {
  border-bottom: 2px solid rgba(129, 127, 127, 0.4);
}
thead {

  /* position:fixed; */
  /* display: inline-block; */

  text-align: center;
  /* position: fixed;
top: 0; */
}
th {
  padding: 20px;
  background-color: rgb(29, 9, 26);
}
.hide {
  visibility: hidden;
}

.modalpop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 15, 15, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(219, 210, 210);

}
.dialogstudentinfo {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 4em;
  /* width: 40vw;
  height: 40vh; */
  background-color: #3a3938;
    position: relative;
  font-size: 1.3em;
}
button.closingbutton {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.dialouge2 {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 4em;
  width: 30vw;
  height: 30vh;
  background-color: #afada9;
    position: relative;
  font-size: 1.3em;
}
.modal1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.column{
  display:flex;
  gap: 2em;
}
.studentphoto{
  width: 10vw;
}
.hackthesystem{
  position: absolute;
  top: 1em;
  background-color: rgba(17, 16, 16,0.5);
  color: beige;
  padding: 1em;
  font-size: 1em;
  border-radius: 10%;

}